<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

{% for friend in friends %}

<h3>{{ friend.name }}</h3>

{% endfor %}

<h2 class="mt-4 d-flex justify-content-center">One Way</h2>

<div class="container mt-5">
    <div class="row clearfix">
    	<div class="col-md-12 table-responsive">
            <form method="POST">
                <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                    <thead>
                        <tr >
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                Id
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id='addr0' data-id="0" class="hidden">
                            <td>
                                <input type="number" name='id' class="form-control"/>
                            </td>
                            <td>
                                <input type="text" name='name' class="form-control"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
		</div>
	</div>
	<input type="submit" formaction="/add_friend" value = "Add Friend">
</div><br>

<h2 class="mt-4 d-flex justify-content-center">Request Response Way</h2>

<div class="container mt-5">
    <div class="row clearfix">
    	<div class="col-md-12 table-responsive">
            <form method="POST">
                <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                    <thead>
                        <tr >
                            <th class="text-center">
                                Id
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id='addr0' data-id="0" class="hidden">
                            <td>
                                <input type="text" name='id' class="form-control"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
		</div>
    </div>
    <input type="submit" formaction="/get_friend" value = "Get Friend">
</div>