<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form class="form form-group" method="POST">
            <table class="table table-bordered">
                <tr>
                    <td>First number:</td>
                    <td><input class="form-group input-group" name="num1" type="number"></td>
                </tr>
                <tr>
                    <td>Second Number:</td>
                    <td><input class="form-group input-group" name="num2" type="number"></td>
                </tr>
                <tr>
                    <td><input class="form-group btn btn-block btn-black" type="submit" formaction="/add" value="Sum"></td>
                    <td><input class="form-group btn btn-block btn-black" type="submit" formaction="/multi" value="Product"></td>
                </tr>
            </table>
        </form>
    </div>
    
</body>
</html>