<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>Roll No: </th>
                <th>Name</th>
                <th>Controls</th>
            </tr>
            {% for f in friend %}
            <tr>
                <td>{{f.rn}}</td>
                <td contenteditable="true">{{f.name}}</td>
                <td>
                    <button><a href="/edit/{{f.rn}}">Update</a></button><br>
                    <button><a href="/del/{{f.rn}}">Delete</a></button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <h3><a href="{{ url_for('index', show = True) }}">Add New Friend +</a></h3>
        {% if show == True %}
        <form method="POST">
            <input type="text" name = "rn">
            <input type="text" name = "name">
            <input type="submit" formaction="/" value="Add">
        </form>
        {% endif %}
    </div>
</body>
</html>