<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Add a Friend</h3>
    <form method = "POST">
        <input type="text" name = "uid" placeholder="UID">
        <input type="name" name="name" placeholder="Name">
        <input type="submit" value="Submit" formaction="/add">
    </form>
    <h3>Search For a friend</h3>
    <form method="POST">
        <input type="text" name = "uid" placeholder="UID">
        <input type="submit" formaction="/search">
    </form>
</body>
</html>