{% extends 'base.html'%}

{% block title %}
<title>Tasks</title>
{% endblock %}

{% block body %}

<div>
    <center>
        <h1>
            Tasks 
        </h1>
        <table border="1">
            <tr>
                <th>Tasks</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date.date() }}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a><br>
                        <a href="/edit/{{task.id}}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <form formaction = '/' method="POST">
            <input type="text" name="content">
            <input type="submit" value="Add">
        </form>
    </center>
</div>

{% endblock %}